<div class="content">
    <section class="about" style="padding-top: 50px;" id="about">
        <h1 style="font-weight: bold; font-size: 60px;">ANJU <span style="color: #da8d00;">CHAMANTHA</span></h1>
        <h6>3rd Yr Undergraduate,
            <br> Department of Computer Science & Engineering,
            <br> University of Moratuwa,
            <br> Sri Lanka</h6>

        <h5 style="padding-top: 50px;">
            I am a Computer Science & Engineering undergraduate with good skills and with passion for
            learning.
        </h5>
    </section>

    <section class="achievements" style="padding-top: 50px;" id="achievements">
        <hr>
        <h1>ACHIEVEMENTS</h1>
        <h3 style="padding-top: 50px;">RunnersUp - RealHack2.0 (24hr Hackathon) @UniversityOfKelaniya</h3>
        <span>Issuer : IEEE student branch of University of Kelaniya & Software Engineering Student Association of
            University of Kelaniya</span>
        <p style="padding-top: 20px;">
            RealHack is the utmost venture initiated by Software Engineering students of the University of Kelaniya in
            2018. It is a 24-hour coding competition, open to all university students island-wide and is organized by
            the Software Engineering Students’ Association and the IEEE student branch of the University of Kelaniya.
            Final 15 teams were selected by an online hackerrank competition and we were placed 1st in the leaderboard.
        </p>

        <h3 style="padding-top: 50px;">Runnersup - XOBots-techno2019 BMICH (TicTacToe robot)</h3>
        <span>Issuer : Institute of Engineers Sri Lanka</span>
        <p style="padding-top: 20px;">
            Techno is an annual tech exhibition organized by IESL. XOBots is a tic-tac-toe robot competition organized
            by University of Jaffna, which was held in techno2019.
        </p>

        <h3 style="padding-top: 50px;">Gold Medalist - hackX Startup Challenge 2019</h3>
        <span>Issuer : University of Kelaniya - MIT</span>
        <p style="padding-top: 20px;">
            hackX 2019 is the fourth successive chapter of one of the Most Successful Inter-University hackathons and
            this time hackX revolutionizes the ordinary hackathon arena by revamping it into an Innovative Startup
            Challenge.
        </p>

        <h3 style="padding-top: 50px;">Gold Medalist- IESL RoboGames 2018(University Category) at Techno'18 exhibition
        </h3>
        <span>Issuer : Institution of Engineers Sri Lanka</span>
        <p style="padding-top: 20px;">IESL Robogames 2018, is part of Techno, the leading engineering exhibition held in
            Sri lanka . The
            competition was held on, 14th October (University category competition & Award ceremony),
            at Sirimavo Bandaranaike Memorial Exhibition & Convention Centre.</p>

        <h3 style="padding-top: 50px;">
            Silver Medalist - IDEA Challenge 2018 at Techno'18 organized by IESL
        </h3>
        <span>Issuer : Institution of Engineers Sri Lanka</span>
        <p style="padding-top: 20px;">School children and undergraduates put their coding skills to the test at Idea
            Challenge 2018, the mobile app
            development competition held at Techno 2018.</p>

        <h3 style="padding-top: 50px;">Dean's List - Semester 1 with 3.89 GPA</h3>
        <span>Faculty of Engineering, University of Moratuwa</span>

        <h3 style="padding-top: 50px;">Bronz Medalist - Physics Olympiad Sri Lanka #all-island competition 2016</h3>
        <span> Issuer : Institute of Physics Sri Lanka</span>

        <h3 style="padding-top: 50px;">Best Student of the year Award - Sri Sumangala College (2016)</h3>
        <span>Issuer : Sri Sumangala College, Panadura</span>
        <p style="padding-top: 20px;">Best Student of the Year in Grade 13 + Physics Award & Mathematics Award</p>

        <h3 style="padding-top: 50px;">Best Student of the Year Award - Sri Sumanagala College (2015)</h3>
        <span>Issuer : Sri Sumangala College, Panadura</span>
        <p style="padding-top: 20px;">Best Student of the Year in Grade 12 + Physics Award</p>
    </section>

    <section class="projects" style="padding-top: 50px;" id="projects">
        <hr>
        <h1>PROJECTS</h1>
        <h3 style="padding-top: 50px;">Neomerce - E Commerce Web Application</h3>
        <p>Single vendor e-commerce web application made for Semester 4 CS3042 Database Systems Module.
            Allows buying products and report generation</p>

        <h3 style="padding-top: 50px;">Comfy - Smart Home App for remote AC monitoring and controll</h3>
        <p>An app to remotely control AC, using flutter and reatime database - Firebase</p>

        <h3 style="padding-top: 50px;">MediKit WebApp & MobileApp - Semester 3 Group Project | Managing healthcare
            services | e-prescriptions</h3>
        <p>We as team-Pulse, developed a healthcare services system named MediKit. Goal was to connect the doctor & the
            patient in a systematic way and let the patient get a readable prescription with a good understanding about
            the medicines he take.</p>

        <h3 style="padding-top: 50px;">Stair Climbing Robot - Semester 2 Group Project</h3>
        <p>A robot which can climb stairs with special type of wheels. Built with Arduino. Simulated with Solid Works
        </p>
    </section>


</div>