<div class="content" id="projects">
    <h1>PROJECTS</h1>
    <h3 style="padding-top: 50px;">Neomerce - E Commerce Web Application</h3>
    <p>Single vendor e-commerce web application made for Semester 4 CS3042 Database Systems Module.
        Allows buying products and report generation</p>

    <h3 style="padding-top: 50px;">Comfy - Smart Home App for remote AC monitoring and controll</h3>
    <p>An app to remotely control AC, using flutter and reatime database - Firebase</p>

    <h3 style="padding-top: 50px;">MediKit WebApp & MobileApp - Semester 3 Group Project | Managing healthcare
        services | e-prescriptions</h3>
    <p>We as team-Pulse, developed a healthcare services system named MediKit. Goal was to connect the doctor & the
        patient in a systematic way and let the patient get a readable prescription with a good understanding about
        the medicines he take.</p>

    <h3 style="padding-top: 50px;">Stair Climbing Robot - Semester 2 Group Project</h3>
    <p>A robot which can climb stairs with special type of wheels. Built with Arduino. Simulated with Solid Works
    </p>
</div>